<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>ThymeLeaf</title>
</head>
<body>
	<h1>ThymeLeaf</h1>
	<h3>템플릿 엔진</h3>
	<pre>
		템플릿 양식과 특정 데이터 모델에 따른 입력 자료를 합성하여
		결과 문서(응답 화면)을 출력
		
		>>> 제작한 페이지(html) 화면에 데이터를 추가하여 하나의 html로 만들어서 응답
		>>> jsp 템플릿 엔진 중 하나
		<a href="https://www.thymeleaf.org">타임리프 홈페이지로 이동하기</a>
		<h3>2. thymeleaf </h3>
		<pre>
			> 웹 및 독립 실행형 환경 모두를 위한 최신 서버쪽 Java 템플릿 엔진
			> 웹 실행 == 요청 시 포워드 되는 화면
			>> 독립 실행 == html 파일 실행 (인터넷 연결 없이)
			
			HTML 파일에서 th (ThymeLeaf)속성을 이용해 컨트롤러부터 전달받은 데이터를
			이용, 동적 페이지를 이용할 수 있음.
			Spring boot 에서는 jsp 아닌 ThymeLeaf 사용을 권장하고 있음.
			
			[사용법]
			html 에서
			!Doctype html 보다 앞에 작성
			태그열기 html xmlns:th="http://www.thymeleaf.org" 태그닫기 작성 후 사용할 수 있다.
			http://www.thymeleaf.org 에 대한 별칭 설정
			html xmlns:별칭 = "템플릿 가져올 주소"			
		</pre>
		<ol>
			<li><a href='example/ex1'>타임리프 예제1</a>
		</ol>
	</pre>
</body>
</html>