<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>select Snacks 에제</title>
</head>
<body>
	<h1> 스낵 목록 </h1>
		<table border='1'>
		<thead>
			<tr>
				<th>회사ID</th>
				<th>회사명</th>
				<th>회사주소</th>
				<th>회사번호</th>
			</tr>
		</thead>
		<tbody>
			<!-- 타임리프 향상된 for문 -->
			<tr th:each =" c : ${companyList}">
				<td th:text="${c.company_id}"></td>
				<td th:text="${c.company_name}"></td>
				<td th:text="${c.company_address}"></td>
				<td th:text="${c.company_phone}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>