<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang='ko'>
<head>
<meta charset="utf-8">
<title>상품등록하기</title>
</head>
<body>
	<h1>상품등록하기</h1>
	<form th:action="@{/register}" method="post" th:object="${goods}">
	<!-- th:object 의 이름은 GoodsController에서 참조한 변수명과 같은 것.
		model.addAttribute("goods",new Goods());
		을 goodsController에서 해줬기 때문에
		goods.goodsName이 아니라 "*{goodsName}" 으로 접근이 가능해진다.		
	 이때, input 에 있는 값을 dto 변수명에 넣어주기 때문에
	 th:field 이름을 써서, 일치하는 필드(변수)명에 고객이 작성한 값을 저장하겠다는 표기이다.
	 -->
	 상품 명: <input type="text" th:field="*{goodsName}"><br>
	 상품 가격: <input type="number" th:field="*{goodsPrice}"><br>
	 상품 수량: <input type="number" th:field="*{goodsQuantity}"><br>
	 <button>제출하기</button>
	</form>
	
	<form th:action="@{/drinks-register}" method="post" th:object="${drinks}">
	<!-- th:object 의 이름은 GoodsController에서 참조한 변수명과 같은 것.
		model.addAttribute("goods",new Goods());
		을 goodsController에서 해줬기 때문에
		goods.goodsName이 아니라 "*{goodsName}" 으로 접근이 가능해진다.		
	 이때, input 에 있는 값을 dto 변수명에 넣어주기 때문에
	 th:field 이름을 써서, 일치하는 필드(변수)명에 고객이 작성한 값을 저장하겠다는 표기이다.
	 -->
	 음료 명: <input type="text" th:field="*{drinksName}"><br>
	 음료 가격: <input type="number" th:field="*{drinksPrice}"><br>
	 음료 수량: <input type="number" th:field="*{drinksQuantity}"><br>
	 <button>제출하기</button>
	</form>
	
	
	<!-- 항상 조심하자.
		goods_id 는 sequence.nextval 로 자동생성되므로 유저에게 받지 않는 값이다.
	 -->
</body>
</html>