<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="utf-8">
<title>이미지 업로드</title>
</head>
<body>
	<h1>이미지 업로드 하기</h1>
	
	<form method="post" enctype="multipart/form-data" th:action="@{/api/v1/img/upload}">
		<input type="file" name="files" multiple>
		<button>타임리프 업로드하기</button>
	</form>
	
	
	<form method="post" enctype="multipart/form-data" action="/api/v1/img/upload">
		<input type="file" name="files" multiple>
		<button>타임리프 안쓰고 업로드하기</button>
	</form>
</body>
</html>