<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="utf-8">
<title>돼지 사진 업로드</title>
<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
	<div class="container">
		<!-- 이미지를 form 태그에 넣어 업로드를 진행할 때는 entype 작성 
			 enctype> 어떤 파일을 전송할 때 데이터 타입이 무엇인지 체크
			이미지 파일을 post 업로드 하기 위해서 multipart/form-data를
			반드시 작성해서 전달하는 것이 안전하다
			application/x-www-form-urlencoded 	: 기본값 (텍스트만)
												: name-value 값이 내장되어 있어 name으로 전송한다.
		
			 multipart/form-data : 비디오, 이미지 같은 데이터도 전달
			text / plain = 변환(인코딩) 하지 않고 그대로 전송한다.디버그용. 
			
		-->
	<h1>돼지 사진 업로드</h1>
	<form action="/upload" method="post" enctype="multipart/form-data">
		<div>
			<label>돼지 이름 : </label>
			<input type="text" th:field="${p.pig_name}" required>
			<!-- <input type="text" name="pig_name" required> 방식도 있다. -->
		</div>
		<div>
			<label>돼지 나이 : </label>
			<input type="number" th:field="${p.pig_age}" required>
			<!-- <input type="text" name="pig_name" required> 방식도 있다. -->
		</div>
		<div>
			<label>돼지 나이 : </label>
			<input type="file" th:field="${p.pig_image_path}" required>
			<!-- <input type="text" name="pig_name" required> 방식도 있다. -->
		</div>
		<br><button>업로드하기</button>
	</form>	
	</div>
</body>
</html>