<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>타임리프 예제 5</title>
<style>
.red {
	color: red;
}

.green {
	color: green;
}

.deco {
	text-decoration: underline
}
</style>


</head>
<body>
	<h1>타임리프 예제 5</h1>
	<h3> th:inline = "javascript" 속성</h3>
	<pre>
		- script 태그에 작성하는 속성
		- 타임리프 문법으로 출력된 내용 / 값을 JS에 알맞은 타입으로 변환
	</pre>
	<h3 id='message'></h3>
	<h3 id='num1'></h3>
	
	<script th:inline="javascript">
		//js inline..
		//html 파일 실행시 js 내부 타임리프 코드 오류를 발생하지 않도록 한다.
		//+) html 문법오류의 해결
		const message = "message얌";
		document.querySelector("#message").innerText = message;
		document.querySelector("#num1").innerText = "5000";
		//document.querySelector("#std").innerText = ${"std."}
	</script>
	<hr>
	
	<h3>th:classappend 속성 : 요소에 class 속성 값을 동적으로 추가</h3>
	<h4 th:classappend="red">th(타임리프) 에서 제공하는 class(스타일 태그) append(더하기) 실행 중
	</h4>
	<h4 th:classappend="green">초록색 색상 태그에용</h4>
	<h4 class='red' th:classappend='deco'>초록색 색상 태그 실행 </h4>
	<h4 class='green' th:classappend='deco'>초록 글씨에 밑줄 치기</h4>
	
	<!-- 안전 탐색 연산자 ${객체?.필드} -->
	<pre>
		객체가 null인지 판단 후 null 이 아닌 경우 수정하기
	</pre>
	<!--  예를 들어 타임리프로 작성한 변수명이 controller랑 다르거나 존재하지 않으면 에러. 
		이때, 안전탐색연산자를 사용하면 에러 발생을 방지할 수 있음
	-->
	<h4 th:text="${std?.studentNo}">학번</h4>
	<h4 th:text="${std?.name}">학생 이름</h4>
	
	<h4 th:text="${mem?.memberNo}">멤번</h4>
	
	<h3>번호를 자동으로 만드는 SEQUENCE</h3>
	<pre>
		-시작부터 끝까지 번호로 이루어진 숫자 배열 생성하자
		ex) $(#numbers.sequence(시작,끝[,step])} : 번호 발생기)
		ex) 1부터 5까지 출력하기 
		${#numbers.sequence(1,5)}
		1부터 5까지 생성하는 코드 작성 완료
		[시퀀스를 왜 사용해서 자동으로 번호를 이루어지게끔 하는 것일까?]
		- 타임리프 반복문 th:each는 향상된 for 문으로
		일반 for문의 동작을 못하는것을 해결하기 위해 사용
		
		th:text 에 변수 이외 글자를 넣길 원한다면, ""사용하고 ""안에 || 사용해서
		"|텍스트와 변수명|" 작성
	</pre>
	<ul>
		<li th:each="i : ${#numbers.sequence(11,20,2)}"
		th:text = "|테스트 ${i}|"></li>
		
		<!-- ${#numbers.sequence(11,20,2)} 숫자반복 시작하겠다. 증감연산자 1 외에 선택 가능
		 -->
	</ul>
	<ul>
		<li th:each="a : ${#numbers.sequence(5,10)}" th:text="|숫자 ${a}|"></li>
	</ul>
	
	
	
	
	<!--  번호를 자동으로 만들자 (SEQUENCE) + Mybatis -->
	
	
</body>
</html>